ion-content{
  text-align: center;
  --padding-top: 24px;
  --padding-start: 24px;
  --padding-end: 24px;
  --background: url("../../assets/cigarro.jpg");
}

ion-item{
  margin: center;
}

h1, h3{
  color: #B30E02;
  background-color: #D99893;
  font-family:  Verdana;
}